/Web_01/nbproject/private/
/Web_01/build/
/WebApplication_02/nbproject/private/
/WebApplication_02/build/
/WebApplication2_02/nbproject/private/
/WebApplication2_02/build/
/Ex1/nbproject/private/
/Ex1/build/
/WebApplication_03_A/nbproject/private/
/WebApplication_03_A/build/
/WebApplication_03_A/dist/
/WebApplication_03_B/nbproject/private/
/WebApplication_03_B/build/
/WebApplication_03_C/nbproject/private/
/WebApplication_03_C/build/
/WebApplication_03_D/nbproject/private/
/WebApplication_03_D/build/
/hehe/nbproject/private/
/hehe/build/
/WebApplication_04_A/nbproject/private/
/WebApplication_04_A/build/
/WebApplication_04_B/nbproject/private/
/WebApplication_04_B/build/
/WebApplication_04_B_1/nbproject/private/
/WebApplication_04_B_1/build/