/Web_01/nbproject/private/
/Web_01/build/
/WebApplication_02/nbproject/private/
/WebApplication_02/build/
/WebApplication2_02/nbproject/private/
/WebApplication2_02/build/
/Ex1/nbproject/private/
/Ex1/build/
/WebApplication_03_A/nbproject/private/
/WebApplication_03_A/build/
/WebApplication_03_A/dist/
/WebApplication_03_B/nbproject/private/
/WebApplication_03_B/build/
/WebApplication_03_C/nbproject/private/
/WebApplication_03_C/build/
/WebApplication_03_D/nbproject/private/
/WebApplication_03_D/build/
/hehe/nbproject/private/
/hehe/build/
/WebApplication_04_A/nbproject/private/
/WebApplication_04_A/build/
/WebApplication_04_B/nbproject/private/
/WebApplication_04_B/build/
/WebApplication_04_B_1/nbproject/private/
/WebApplication_04_B_1/build/
/WebApplication_05_A/nbproject/private/
/WebApplication_05_A/build/
/WebApplication_06/nbproject/private/
/WebApplication_06/build/
/WebApplication_07_JSP_A/nbproject/private/
/WebApplication_07_JSP_A/build/
/WebApplication_07_B/nbproject/private/
/WebApplication_07_B/build/
/PJ/nbproject/private/
/PJ/build/
/WebApplication_08/nbproject/private/
/WebApplication_08/build/
/WebApplication_08_1/nbproject/private/
/WebApplication_09/nbproject/private/
/WebApplication_09/build/
/WebApplication_11/WebApplication_11/nbproject/private/
/WebApplication_11/nbproject/private/
/WebApplication_11/build/
/T1/nbproject/private/
/T1/build/
/Practice_1/nbproject/private/
/WebApplication_12/nbproject/private/
/WebApplication_12/build/
/Workshop_1/nbproject/private/
/Workshop_1/build/
/Workshop_1/dist/
/WebApplication_13/nbproject/private/
/WebApplication_13/build/